---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
  interval: 1h
  install:
      timeout: 15m0s
  upgrade:
      timeout: 15m0s
  values:
    cni:
      exclusive: true

    k8sServiceHost: localhost
    k8sServicePort: 7445
    kubeProxyReplacement: true
  
    cgroup:
      autoMount:
        enabled: false
      hostRoot: "/sys/fs/cgroup"

    ipam:
      mode: "kubernetes"

    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - PERFMON
          - BPF
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
