---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
  interval: 1h
  install:
      timeout: 15m0s
  upgrade:
      timeout: 15m0s
  values:
    cni:
      exclusive: true

    bandwidthManager:
      enabled: true
      bbr: true
    bpf:
      datapathMode: netkit
      masquerade: true
      preallocateMaps: true
      tproxy: true
    bpfClockProbe: true

    k8sServiceHost: localhost
    k8sServicePort: 7445
    kubeProxyReplacement: true

    cgroup:
      autoMount:
        enabled: false
      hostRoot: "/sys/fs/cgroup"

    dashboards:
      enabled: true

    envoy:
      enabled: false
    hubble:
      enabled: false
    ipam:
      mode: "kubernetes"

    l2announcements:
      enabled: false

    loadBalancer:
      algorithm: maglev
      mode: dsr

    localRedirectPolicy: true

    operator:
      dashboards:
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: false
      replicas: 2
      rollOutPods: true

    pmtuDiscovery:
      enabled: true

    prometheus:
      enabled: true
      serviceMonitor:
        enabled: false
        trustCRDsExist: false
    rollOutCiliumPods: true

    securityContext:
      capabilities:
        ciliumAgent:
          - CHOWN
          - KILL
          - NET_ADMIN
          - NET_RAW
          - IPC_LOCK
          - SYS_ADMIN
          - SYS_RESOURCE
          - PERFMON
          - BPF
          - DAC_OVERRIDE
          - FOWNER
          - SETGID
          - SETUID
        cleanCiliumState:
          - NET_ADMIN
          - SYS_ADMIN
          - SYS_RESOURCE
